body {
	padding: 0;
	margin: 0;
}
#map {
	width: 100%;
	height: 100%;
}


.urlhelp {
	font: normal 24px/100% Verdana, Tahoma, sans-serif;
	padding: 4px 0;
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	text-align: center;
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
}

.message {
	height: 50px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 24px/100% Verdana, Tahoma, sans-serif;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
	position: fixed;
	bottom: 0px;
	z-index:99;
	width: 100%;

}

.message:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 8px;
}


.popup {
	font: normal 24px/100% Verdana, Tahoma, sans-serif;
}

.leaflet-control-attribution {
	display: hidden !important;
	height:0 !important;
	overflow:hidden !important;
	position:absolute !important;
}

@media screen and (max-width: 650px) {
	.urlhelp {
		font-size: 16px;
	}
}
